*{
	margin: 0;
	padding: 0;
}
body {
	background: #D3D3D3;
}
.produto{
	display:inline-block;
	border: 1px solid black;
	border-radius:10px;
	padding:8px;
	width:200px;
	margin:7px;
	height:300px;
}
.produto div{
	text-align:left;
}
.imagem_produto{
	width:100%;
	height:180px;
}
#produtos{
	width: 100%;
	margin: 0 auto;
	margin-left:25px;
	margin-bottom:50px;
}
#categorias a{
	color:black;
	text-decoration:none;
	font-size:16px;
}
#produto a{
	
}